
:root {
    --orange: #F87070;
    --green: #70F3F8;
    --perpule: #D881F8;
    --light-blue: #D7E0FF;
    --dark-blue: #1E213F;
    --darker-blue:#161932;
    --white: #FFFFFF;
    --beige: #EFF1FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', 'sans-serif';
}

body {
    background-color: var(--dark-blue);

}

.title {
    width: 700px;
    height: 32px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--white);
}



#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

nav {
    width: 450px;
    height: 63px;
    background-color: var(--darker-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 31.5px;
}

#wrapper nav span {
    border-radius: 26.5px;
    /* border: 1px solid white; */
    color: var(--light-blue);
    opacity: 0.4;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background: var(--perpule); */
}



#wrapper nav span:active{
    background: var(--perpule);
    opacity: 1;
}
#wrapper nav span:hover{
    background: #ae69c7 ;
}

/* #timer {
    width: 373px;
    height: 63px;
    background-color: var(--perpule);
} */

#outer-circle {
    display: flex;
    width: 410px;
    height: 410px;
    border-radius: 50% ;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}

#inner-circle{
    display: flex;
    margin: auto;
    width: 366px;
    height: 366px;
   border-radius: 50%;
   background-color: var(--darker-blue);

}

.time {
    position: absolute;
    height: 101px;
    width: 350px;
    top: 470px;
    font-weight: bold;
    font-size: 80px;
    line-height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.pause {
    position: absolute;
    width: 375px;
    height: 16px;
    top: 600px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#ring {
    margin: auto;
    width: 339px;
    height: 339px;
}

#ring circle {
    /* svg property */
    fill: transparent;
    stroke: var(--perpule);
    stroke-width: 10;
    stroke-dasharray: 1024, 1024;
    stroke-dashoffset: 200;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#ring circle:focus{
    outline: none;
}

#settings{
    width: 373px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

#settings:hover{
    opacity: 1;
}


/* Utility classes */

.center {
    margin: 0 auto;
}