
:root {
    --orange: #F87070;
    --green: #70F3F8;
    --perpule: #D881F8;
    --light-blue: #D7E0FF;
    --dark-blue: #1E213F;
    --darker-blue:#161932;
    --white: #FFFFFF;
    --beige: #EFF1FA;
    --robot-font :'Roboto Slab', serif;
    --space-font : 'Space Mono', monospace;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', 'sans-serif';
    color: var(--light-blue)
}

body {
    background-color: var(--dark-blue);

}

h1{
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -5px;
}

h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #161932;
}

.title {
    width: 700px;
    height: 32px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--white);
}



#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

nav {
    width: 373px;
    height: 63px;
    background-color: var(--darker-blue);
    border-radius: 50px;
    z-index: 10;
}



nav > ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    list-style-type: none;
    height: 100%;
}

nav > ul > li {
    opacity: 0.4;
    transition: opacity 10ms ease-out;
}

#bgindicator {
    border-radius: 50px;
    height: 48px;
    width: calc(95% / 3);
    margin-top: -55px;
    background-color: var(--orange);
    transition: margin-left 300ms ease-out ;
}

/* #wrapper nav span:active{
    background: var(--perpule);
    opacity: 1;
} */
/* #wrapper nav span:hover{
    background: #ae69c7 ;
} */

/* #timer {
    width: 373px;
    height: 63px;
    background-color: var(--perpule);
} */

#outer-circle {
    position: relative;
    margin-top: 45px;
    display: flex;
    width: 410px;
    height: 410px;
    border-radius: 50% ;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}

#inner-circle{
    display: flex;
    margin: auto;
    width: 366px;
    height: 366px;
   border-radius: 50%;
   background-color: var(--darker-blue);

}   

#ring {
    margin: auto;
    width: 339px;
    height: 339px;
}

#ring circle {
    /* svg property */
    fill: transparent;
    stroke: var(--perpule);
    stroke-width: 10;
    stroke-dasharray: 1024 1024;
    stroke-dashoffset: 1024;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.2s ease-out;
    stroke-linecap: round;
   
}

#ring circle:focus{
    outline: none;
}

#textcontainer {
    position: absolute;
    height: 410px;
    width: 410px;
    color: var(--white);
}
#time {
    text-align: center;
    margin-top: 160px;
}

#action {
    text-align: center;
    cursor: pointer;
}
#settings{
    width: 373px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

#settings:hover{
    opacity: 1;
}


/* Utility classes */

.center {
    margin: 0 auto;
}

.body1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.active {
    color: var(--darker-blue);
    opacity: 1;
}
.pointer {
    user-select: none;
    cursor: pointer;
}


/* Form Section */

form {
    pointer-events: auto;
    margin: auto;
    border-radius: 25px;
    width: 550px;
    height: 464px;
    background-color: var(--white);
}
/********** Title Settings *********/

.title-settings{
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid var(--light-blue);
}

.title-settings i {
    font-size: 18px;
    color: var(--light-blue);
}

/********** Times Settings *********/
.time-types {
    width: 100%;
    height: 129px;
    padding-top: 25px;
}

.wrap-container {
    width: 462px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    
}

.wrap-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

.times-opts input{
    width: 120px;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: var(--dark-blue);
    padding: 20px;
    margin-top: 5px;
    background: #EFF1FA;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.times-opts label {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #1E213F;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.times-opts input:focus {
    outline: none;
}

/********** Fonts Settings *********/

.font-types {
    width: 462px;
    height: 100px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.font-buttons {
    width: 152px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.font-buttons input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;

}
.font-buttons input:focus {
    outline: none;
}

/********** Colors Settings *********/
.colors {
    width: 462px;
    height: 100px;
    margin: auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.colors-type {
    width: 142px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.colors-type input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.colors-type input:focus {
    outline: none;
}

/********** Button submit *********/
#submit-btn {
    left: 201px;
    width: 140px;
    height: 53px;
    background: var(--orange);
    border-radius: 26.5px;
    border: none;
    position: relative;
    top: 37px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--white);
}
#submit-btn:hover {
    background-color: #ee5858;
}