
:root {
    --orange: #F87070;
    --green: #70F3F8;
    --perpule: #D881F8;
    --light-blue: #D7E0FF;
    --dark-blue: #1E213F;
    --darker-blue:#161932;
    --white: #FFFFFF;
    --beige: #EFF1FA;
    --robot-font :'Roboto Slab', serif;
    --space-font : 'Space Mono', monospace;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-blue);
    

}

body {
    background-color: var(--dark-blue);
    font-family: 'Kumbh Sans', 'sans-serif';
}

h1{
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -5px;
}

h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--darker-blue);
}

.title {
    width: 700px;
    height: 32px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--white);
}



#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

nav {
    width: 373px;
    height: 63px;
    background-color: var(--darker-blue);
    border-radius: 50px;
    z-index: 10;
}



nav > ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    list-style-type: none;
    height: 100%;
}

nav > ul > li {
    opacity: 0.4;
    transition: opacity 10ms ease-out;
}

#bgindicator {
    border-radius: 50px;
    height: 48px;
    width: calc(95% / 3);
    margin-top: -55px;
    background-color: var(--orange);
    transition: margin-left 300ms ease-out ;
}

/* #wrapper nav span:active{
    background: var(--perpule);
    opacity: 1;
} */
/* #wrapper nav span:hover{
    background: #ae69c7 ;
} */

/* #timer {
    width: 373px;
    height: 63px;
    background-color: var(--perpule);
} */

#outer-circle {
    position: relative;
    margin-top: 45px;
    display: flex;
    width: 410px;
    height: 410px;
    border-radius: 50% ;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}

#inner-circle{
    display: flex;
    margin: auto;
    width: 366px;
    height: 366px;
   border-radius: 50%;
   background-color: var(--darker-blue);

}   

#ring {
    margin: auto;
    width: 339px;
    height: 339px;
}

#ring circle {
    /* svg property */
    fill: transparent;
    stroke: var(--orange);
    stroke-width: 10;
    stroke-dasharray: 1024 1024;
    stroke-dashoffset: 1024;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.2s ease-out;
    stroke-linecap: round;
   
}

#ring circle:focus{
    outline: none;
}

#textcontainer {
    position: absolute;
    height: 410px;
    width: 410px;
    color: var(--white);
}
#time {
    text-align: center;
    margin-top: 160px;
}

#action {
    text-align: center;
    cursor: pointer;
}

#settings{
    /* width: 373px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer; */
    margin-top: 100px;
}

#settings:hover{
    opacity: 1;
    cursor: pointer;
}


/* **********************Utility classes ***********************/

.center {
    margin: 0 auto;
}

.body1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.body2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.active {
    color: var(--darker-blue);
    opacity: 1;
    
}
.pointer {
    user-select: none;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin-right: 20px;
}

.input label {
    color: var(--darker-blue);
    padding-bottom: 10px;
    opacity: 40%;
}

.input input {
    height: 48px;
    width: 80px;
    background-color: var(--beige);
    border: none;
    outline: none;
    color: var(--dark-blue);
}

/* up and down button that comming from browser */
.input input::-webkit-inner-spin-button,
.input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number {
    display: flex;
    background-color: var(--beige);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px ;
    border-radius: 10px;
}

.input-buttons {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
}

.input-buttons button {
    
    background-color: var(--beige);
    border: none;
    outline: none;
}

.input-buttons button img {
    opacity: 25%;
    transition: opacity 0.2s ease-out;
}
.input-buttons button img:hover {
    opacity: 1;
    cursor: pointer;
}

.inputs {
    display: flex;
    margin-bottom: 20px
}


/* Form Section */

form {
    position: relative;
    pointer-events: auto;
    margin: auto;
    border-radius: 25px;
    width: 550px;
    height: 464px;
    background-color: var(--white);
}

#settings-container {
    pointer-events: none;
    visibility: hidden;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity ease-in 0.2s, visibility linear 0.5s;

}

#settings-overlay {
    pointer-events: auto;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 12, 28, 0.5);
    z-index: 100;
}

#formouter {
    pointer-events: none;
    position: absolute;
    z-index: 110;
    display: flex;
    width: 100%;
    height: 100vh;

}

hr {
    opacity: 0.4;
}

#settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 40px;
}

#settings-header h2 {
    margin: 0;
    color: var(--darker-blue);
}

#settings-time {
    margin: 0 20px 0 40px;
}

#settings-time h4 {
    display: flex;
    padding: 25px 0;
}



/********** Fonts && Colors Settings *********/
.fonts , .colors {
    width: 462px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    
}

.font-buttons , .color-buttons  {
    width: 152px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.font-buttons input[type='button'], .color-buttons input[type='button'] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--darker-blue);
}
.font-buttons input[type='button'] , .color-buttons input[type='button']:focus {
    outline: none;
}

.container {
    
    width: 43px;
    height: 43px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-button input[type='button']:hover{
    opacity: 1;
    
}


/********** Button submit *********/
#submit-btn {
    left: 201px;
    width: 140px;
    height: 53px;
    background: var(--orange);
    border-radius: 26.5px;
    border: none;
    position: absolute;
    margin-top: -20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--white);
}
#submit-btn:hover {
    background-color: #ee5858;
}